*{ 
    margin: 0;
    padding: 0; 
    box-sizing:border-box; 
}

body{
    background: rgb(68, 68, 68);
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    
}

p,
h1,
h3,
span{
    color: antiquewhite;
    letter-spacing: 7px;
}

.searchfield{
    display: flex;
    flex-direction: column;
}

.searchfield h4{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookshelf{
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.book{
    background: rgb(197, 200, 200);
    width: 10.675rem;
    height: 25.25rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: all 250ms ease-in-out;

}


.info{
    height: 80vh;
    position: absolute;
    display: flex;
    gap: 1rem;
}

.book-cover{
    width: 50%;
    display: flex;
    border-right: solid black 0.1rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.fillerspace{
    width: 20%;
    border-right: solid 0.15rem rgb(35, 35, 35, 0.4);
}

.names{
    align-self: flex-end;
    margin: 0px 0 50px 159px;
    height: 8rem;
    line-height: 3rem;

}

.book-cover-title{
    color: rgba(68, 68, 68, 0.9);
    font-size: 2.3rem;
    letter-spacing: 0.4375rem;
}

.book-cover-author{
    color: rgba(71, 70, 70, 0.9);
    font-size: 1.2rem;
    letter-spacing: 0.125rem;
}

.description-box{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text-box{
    height: 500px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.plot{
    align-self: center;
    line-height: 1.4rem;
    letter-spacing: 0.1rem;
}

.close{
    width: 6.25rem;
    background: rgb(184, 182, 182);
    border: none;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.stats-box{
    background: rgb(59, 59, 59);
    padding: 40px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.stats-box section{
    flex: 1 300px;
    text-align: center;
    line-height: 1.5rem;
}

.readnow{
    width: 100px;
    align-self: center;
    background: rgb(184, 182, 182);
    border: none;
    height: 1.4rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.hide{
    visibility: hidden;
}